.row,
.board {
    display: flex;
}

.board {
    width: 120px;
    flex-direction: column;
    font-size: 2rem;
    margin: 0 auto;
}

.row {
    justify-content: space-between;
}

.field {
    text-align: center;
    min-width: 40px;
    min-height: 40px;
}

.vline {
    border-left: 1px solid black;
}

.hline {
    border-top: 1px solid black;
}